/*-------------------сброс настроек страницы-------------------*/

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*-------------------------------------------------------------*/

body{
    margin: 0px;
    
}

/*---------------------информативная панель--------------------*/

.container-nav{  /* блок всего фона информативной панели */
    text-align: center;
    background-color: #6750A4;

    font-family: var(--md-sys-typescale-display-large-font-family-name);
    font-style: var(--md-sys-typescale-display-large-font-family-style);
    font-weight: var(--md-sys-typescale-display-large-font-weight);
    font-size: var(--md-sys-typescale-display-large-font-size);
    letter-spacing: var(--md-sys-typescale-display-large-tracking);
    line-height: var(--md-sys-typescale-display-large-height);
    text-transform: var(--md-sys-typescale-display-large-text-transform);
    text-decoration: var(--md-sys-typescale-display-large-text-decoration);

}


 .container-nav ul {  /* блок фона элементов  */
    
    
    display: inline-flex;
    align-items: center;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
   
}

.container-nav li {  /*фон слов верхней панели*/
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 8px;
    font-size: 17px;
}

.main-nav{    /* блок всего фона нав. панели */
    /* background-color: rgb(234, 234, 234); */
}

/*---------------------навигационная панель-------------------*/

.main-nav ul{       /*фон слов навигационной панели*/
    display: flex;
    list-style: none;
    justify-content:center;
    background-color: rgb(234, 234, 234);  
    border-top: 0.5px solid ;

}

.main-nav li {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 30, 30);
    transition: 0.6s linear;
}

.main-nav li:hover {
    color: rgb(0, 0, 0);
    background:rgb(0, 208, 184);
}

.main-nav a{
    text-decoration: none;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 72, 111);
}

.active{
    background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld0JveD0iMCAwIDQgNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNCA0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0FCQUJBQiIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjAiIHkxPSIwIiB4Mj0iNCIgeTI9IjQiLz4NCjwvc3ZnPg0K");
    background-repeat:repeat;
    background-position:0 0;
    background-size:4px 4px;
}

/*-------------------------основная информация------------------------------*/

.full-main{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.main-info h2{
    padding: 20px;
    color:rgb(0, 0, 0);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}   

.text-hospital p{
    font-size: 20px;
    text-indent: 30px;
}

/*-------------------------картинки ------------------------------*/

.img-hospital img{
    height: 270px;
    padding-bottom: 5px;
}


.img-group-doctor img{
    height: 270px;
    float:left;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.right-panel{
    float:right;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;

    
}


/*-------------------------нижняя панель------------------------------*/

.down-bar{
    padding-top: 20px;
}


.down-bar h2{
    padding: 40px;
    color:rgb(5, 0, 26);
    text-align: center;
    border-top: 1px solid;
}  

.useful-links li{
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;

}

.useful-links ul{
    display: flex;
    justify-content:center;
    padding: 15px;
}

.minzdrav {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
.minzdrav:hover::after {
    content: attr(minzdrav); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 30px 60px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }